<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Directory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="icon" type="image/png" href="images/book-favicon.png">
</head>
<body>

<div class="container">

    <div class="list-container">
        <div class="logo-heading-container">
            <h1 class="font-700">
                Book Directory
                <span class="material-symbols-outlined">import_contacts</span>
            </h1>
        </div>

        <hr>

        <!-- Navigation buttons -->
        <div class="navigation-buttons">
            <!-- Button for returning to homepage -->
            <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">
                Return to homepage
            </a>

            <!-- Button for adding books -->
            <a th:href="@{/books/addForm}" class="btn btn-primary btn-sm mb-3">
                Add Book
            </a>
        </div>

        <div class="viewBy">
            <h4 class="font-400">
                <label for="author" class="form-label">View books by:</label>
            </h4>

            <div class="form-group">
                <form th:action="@{/books/listByAuthor}" method="get">
                    <select id="author" name="authorId" class="form-select mb-4 w-75" required>
                        <option value="" disabled selected>Select an author</option>
                        <option th:each="author : ${authors}"
                                th:value="${author.id}"
                                th:text="${author.firstName + ' ' + author.lastName}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm mb-3 btn-viewBy">
                        View
                    </button>
                </form>
            </div>
        </div>


        <table class="table rounded-4 overflow-hidden table-bordered table-striped">

            <thead class="table-dark">
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th class="actions-column">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author.firstName + ' ' + book.author.lastName}" ></td>
                <td>
                    <ul th:if="${book.genres != null}">
                        <li th:each="genre : ${book.genres}"
                            th:text="${genre.name}"></li>
                    </ul>
                </td>

                <!-- Action buttons -->
                <td class="actions-column">
                    <div class="action-buttons">
                        <!-- Update button -->
                        <a th:href="@{/books/updateForm(bookId=${book.id})}" class="btn btn-info btn-sm">
                            <span class="material-symbols-outlined">edit</span>
                        </a>

                        <!-- Delete button -->
                        <a th:href="@{/books/delete(bookId=${book.id})}" class="btn btn-danger btn-sm"
                           onclick="return confirmDeleteBook()">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                    </div>
                </td>

            </tr>
            </tbody>

        </table>
    </div>

</div>

<script>
    function confirmDeleteBook() {
        const message = `Are you sure you want to delete this book?
This action cannot be undone!

Upon deleting:
- All associations and reviews for this book will be removed.`;
        return confirm(message);
    }
</script>

</body>
</html>