<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit about you</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/user-profile-form.css">
</head>
<body>

<div class="container">

    <div class="form-container">
        <div class="header">
            <div class="logo-heading-container">
                <h1 class="font-700">
                    About me
                    <span class="material-symbols-outlined">person_edit</span>
                </h1>
            </div>

            <hr>

            <div class="logo-edit-container">
                <h4 class="h4 mb-4 font-400">
                    Edit
                    <span class="material-symbols-outlined">edit</span>
                </h4>
            </div>
        </div>

            <form class="profile-edit-form"
                  action="#"
                  th:action="@{/about/save}"
                  th:object="${theProfile}"
                  method="POST">

                <div class="about-area">
                    <!-- ID's -->
                    <input type="hidden" th:field="*{profileId}">

                    <!-- Hobbies & interests -->
                    <label>Hobby:</label>
                    <input type="text" th:field="*{hobbies}" class="form-control mb-4 w-50" placeholder="Add hobby">

                    <label>Interests:</label>
                    <input type="text" th:field="*{interests}" class="form-control mb-4 w-50" placeholder="Add interests">

                    <label for="birthdate">Birthdate:</label>
                    <div class="birthdate">
                        <input type="date" id="birthdate" name="birthdate"
                               th:value="${birthYear != null and birthMonth != null and birthDay != null ? #dates.format(#dates.create(birthYear, birthMonth, birthDay), 'yyyy-MM-dd') : ''}"
                               style="width: 225px; height: 40px; border:none; border-radius: 10px; padding: 0 10px;" />
                    </div>

                </div>

                <div class="selection-area">
                    <!-- Favorite categories -->
                    <label><p class="font-400-24">
                            <span>&#x2728;</span>Favorites from Boffee
                    </p></label>
                    <div class="form-group">
                        <div class="favorite-genre">
                            <select id="genre" name="favoriteGenre.id" class="form-select mb-2 w-50">
                                <option value="" th:selected="${theProfile.favoriteGenre == null}" disabled>Select Genre</option>
                                <option th:each="genre : ${genres}"
                                        th:value="${genre.id}"
                                        th:text="${genre.name}"
                                        th:selected="${theProfile.favoriteGenre != null and genre.id == theProfile.favoriteGenre.id}"></option>
                            </select>
                        </div>
                        <div class="favorite-author">
                            <select id="author" name="favoriteAuthor.id" class="form-select mb-4 w-50">
                                <option value="" th:selected="${theProfile.favoriteAuthor == null}" disabled>Select Author</option>
                                <option th:each="author : ${authors}"
                                        th:value="${author.id}"
                                        th:text="${author.firstName + ' ' + author.lastName}"
                                        th:selected="${theProfile.favoriteAuthor != null and author.id == theProfile.favoriteAuthor.id}"></option>
                            </select>
                        </div>
                    </div>

                    <!-- Books -->
                    <label><p class="font-400-24">
                            <span>&#128214;</span>
                            from Boffee
                    </p></label>
                    <div class="form-group">
                        <!-- Read books -->
                        <label>
                            <span style="font-family: 'Noto Color Emoji'; color: green;">&#x2705;</span>
                            Books you have read:
                        </label>
                        <div th:each="book : ${books}">
                            <div class="form-check">
                                <input type="checkbox"
                                       th:id="${'book_' + book.id}"
                                       th:name="${'readBooks'}"
                                       th:value="${book.id}"
                                       th:checked="${readBooks.contains(book)}" />
                                <label class="form-check-label"
                                       th:for="${'book_' + book.id}"
                                       th:text="${book.title}"></label>
                            </div>
                        </div>
                        <!-- Recommended Books -->
                        <label>
                            <span style="font-family: 'Noto Color Emoji';">&#x2B50;</span>
                            Books you recommend:
                        </label>
                        <div th:each="book : ${books}">
                            <div class="form-check">
                                <input type="checkbox"
                                       th:id="${'book_' + book.id}"
                                       th:name="${'recommendedBooks'}"
                                       th:value="${book.id}"
                                       th:checked="${recommendedBooks.contains(book)}" />
                                <label class="form-check-label"
                                       th:for="${'book_' + book.id}"
                                       th:text="${book.title}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-info col-2">Save</button>
            </form>
        <hr>

        <a th:href="@{'/users/profile/' + ${theUser.username}}">Back to Profile</a>
    </div>

</div>

</body>
</html>